.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bakery-details {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
}
.bakery-name {
  width: 80%;
  border-radius: 5% / 40%;
  font-size: 1.5rem;
  font-family: "Times New Roman", Times, serif;
}

.current-cookies {
  font-size: 1.5rem;
}

.cookies-per-second {
  font-size: 0.7rem;
}

.cookies-details {
font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
