.container {
  position: relative;
  width: 100%;
  height: fit-content;
}

.product-container {
  display: flex;
  background-image: var(--product-bg);
  background-size: cover;
  width: 100%;
}

.product-details {
  display: flex;
  flex-direction: column;
  font-weight: bolder;
}

.product-name {
  font-size: 2.5rem;
}

.tooltip {
  background-color: black;
}